.review {
    color: #707070;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.08px;
  }
  .star-color {
    color: #f7a582;
  }
  .swiper-button-prev {
    border: 2px solid #f7a582;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #f7a582;
  
    position: absolute;
    left: -15px;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
  .swiper-button-next {
    background-color: #f7a582;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    right: -15px;
    top: calc(50% - 25px);
    z-index: 2;
    cursor: pointer;
  }
  /* new */
  .swiper-button-prev-container,
  .swiper-button-next-container {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
  }
  .swiper-button-prev-container {
    left: 0;
    margin-left: -10px; /* Half of the width */
  }
  
  .swiper-button-next-container {
    right: 0;
    margin-right: -10px; /* Half of the width */
  }
  
  /*  */
  .swiper-button-prev::after {
    content: none;
  }
  .swiper-button-next::after {
    content: none;
  }
  @media (max-width: 991px) {
    .swiper-button-prev-container,
    .swiper-button-next-container {
      display: none;
    }
  }
  
  /* Show navigation buttons for screens 992px and larger */
  @media (min-width: 992px) {
    .swiper-button-prev-container,
    .swiper-button-next-container {
      display: block;
    }
    .swiper-button-prev-container,
    .swiper-button-next-container {
      top: 71%;
    }
  }